// Place all the styles related to the Links controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#short_it {
  margin: 20px auto;
  padding: 10px;
  background-color: #d1d1d1;
  width: 400px;
  h2 {
    font-weight: bold;
    font-size: 14px;
    padding: 7px 0;
  }
  input[type=text], input[type=url] {
    border: 1px solid #191970;
    font-size: 12px;
    padding: 5px 8px;
    width: 300px;

  }
  input[type=submit] {
    border: 1px solid #191970;
    font-size: 12px;
    padding: 5px 8px;
  }
}

div.error {
  color: #cc0000;
  font-size: 12px;
  font-weight: bold;
  padding: 4px 1px;
}

#succes {
  margin-top: 15px;
  font-size: 12px;
  padding: 10px 5px;
  background-color: #faf0e6;
  h3 {
    color: green;
    font-weight: bold;
  }
}